body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #080808;
}

.contenedor {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #000000;
}

img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

p {
    color: #000000;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}
